<app-loading *ngIf="loadingArtist"></app-loading>
<div *ngIf="!loadingArtist" class="row">
  <div class="col-2">
    <img [src]="artista.images | noimage" alt="" class="img-thumbnail img-circle">

  </div>

  <div class="col">
    <h3>{{artista.name}}</h3>
    <p>
      <a [href]="artista.external_urls.spotify" target="_blank">Ir a la página del artista</a>

    </p>
  </div>
  <div class="col-4 text-right">
    <button routerLink="/search" class="btn btn-outline-danger">Regresar</button>

  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th> Foto</th>
          <th>Albúm</th>
          <th>Canción</th>
          <th>Vista Previa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemArtist of topTracks">
          <td>
            <img [src]="itemArtist.album.images | noimage " alt="" class="img-thumb">
          </td>
          <td>{{itemArtist.album.name}}</td>
          <td>{{itemArtist.name}}</td>
          <td>
            <iframe [src]=" itemArtist.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true"
              allow="encrypted-media"></iframe>
            <!-- <audio [src]="itemArtist.preview_url" controls></audio>-->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--artista.images | noimagen-->
